# M07 Homework
- Name: Sam Remmey
- Net ID: sqr8ap
- URL of this file in GitHub:

In [2]:
import pandas as pd
import numpy as np
from scipy.linalg import norm
import plotly_express as px
import seaborn as sns
sns.set(style='ticks')

In [4]:
import configparser
config = configparser.ConfigParser()
config.read("../../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']
local_lib = config['DEFAULT']['local_lib']

In [16]:
# Import data

OHCO = ['book_id','chap_id','para_num','sent_num','token_num']

LIB = pd.read_csv(f'{data_home}/novels-LIB.csv').set_index('book_id')
TOKEN = pd.read_csv(f'{data_home}/novels-CORPUS.csv').set_index(OHCO)

In [20]:
TOKEN.sample(3)

                                                pos term_str
book_id    chap_id para_num sent_num token_num
moonstone  77      7        2        7          PRP  himself
signoffour 8       73       0        1          PRP        i
udolpho    13      50       0        31          TO       to

In [22]:
LIB.sample(3)

                genre_id author_id
book_id
scarlet                d     doyle
secretadversary        d  christie
styles                 d  christie

In [26]:
# Extract a VOCAB table and add max_pos as a column

VOCAB = TOKEN.term_str.value_counts().to_frame('n').sort_index()
VOCAB.index.name = 'term_str'
VOCAB['n_chars'] = VOCAB.index.str.len()
VOCAB['p'] = VOCAB.n / VOCAB.n.sum()
VOCAB['i'] = -np.log2(VOCAB.p)
VOCAB['max_pos'] = TOKEN[['term_str','pos']].value_counts().unstack(fill_value=0).idxmax(1)

In [34]:
VOCAB.sample(3)

           n  n_chars             p          i max_pos
term_str
pealing    1        7  6.664823e-07  20.516930     VBG
gilt       1        4  6.664823e-07  20.516930      NN
cheer     35        5  2.332688e-05  15.387647      VB

In [ ]:
# Compute TFIDF and VOCAB['dfidf'] for the CORPUS